.App {
text-align: center;
width: 100%;
}
.signUp_box {
width: 400px;
height: auto;
background-color: aliceblue;
padding: 30px;
margin: 20px auto;
}
.Inpt_box {
width: 100%;
}
.Inpt_box input {
width: 100%;
margin-top: 10px;
padding: 5px;
}
.btn-box {
margin-top: 10px;
}
.btn-box button {
color:#fff;
padding: 10px 30px;
background-color: rgb(12, 12, 49);
cursor: pointer;
border:none;

}
.auth {
margin-top: 20px;
margin-left: auto;
margin-right: auto;
width: 200px;

}
.parent-box {
width: 400px;
background-color: aliceblue;
margin: 20px auto;
padding: 30px;
}